.page-not-found{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.page-not-found__error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}

.page-not-found__error-title{
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 97px;
    text-align: center;
    margin: 0;
}
.page-not-found__error-description{
    margin: 10px 0 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}

.page-not-found__back-link{
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}
.page-not-found__back-link:hover{
    cursor: pointer;
    opacity: .7;
}

@media screen and (min-width:768px) {
    .page-not-found__error-title{
    font-size: 140px;
    line-height: 169px;
    }
    .page-not-found__error-description{
        margin: 5px 0 0;
        font-size: 16px;
        line-height: 19px;
    }
    .page-not-found{
       justify-content: center;
       padding-bottom: 0;
    }
    .page-not-found__error{
       margin-top: 184px;
       flex-grow: inherit;
    }
    .page-not-found__back-link{
        margin-top: 184px;
        font-size: 14px;
        line-height: 17px;
    }
}