.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 10px;
    width: 100%;
    box-sizing: border-box;
}
.footer__title{
    padding: 79px 0 21px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #A0A0A0; 
    border-bottom: 1px solid  #E8E8E8;
    width: 100%;
    margin: 0;
}
.footer__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}
 .footer__links{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
 }
 .footer__link{
    color: #000000;
    text-decoration: none;
 }
 .footer__link:hover{
    cursor: pointer;
    opacity: .7;
 }
 .footer__year{
    margin: 30px 0 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A0A0A0;
 }
@media screen and (min-width:768px) {
    .footer{
        padding: 0 30px 20px;
    }
    .footer__title{
        font-size: 13px;
        line-height: 16px;
    }
    .footer__wrapper{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 20px;
    }
    .footer__links{
        flex-direction: row;
        gap: 20px;
        font-size: 13px;
        line-height: 16px;
        text-align: right;
     }
     .footer__year{
        margin: 0;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
     }
}

@media screen and (min-width:1280px) {
    .footer{
        padding: 0 70px 20px;
    }
}